@import '../common/_colors/_colors.scss';

.dropdown__toggler {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown__overlay {
    margin-top: 0%;
    height: 100%;
    width: 0%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $background-color--black-transparent;
    overflow-x: hidden;
    transition: 0.3s;
    z-index: 4;

    a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: $text-color--light;
        display: block;
        transition: 0.3s;
    };

    .dropdown__closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    };
}

.dropdown__overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

@media screen and (max-height: 450px) {
    .dropdown__overlay {overflow-y: auto;}
    .dropdown__overlay a {font-size: 20px}
    .dropdown__overlay .dropdown__closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.dropdown__content{
    color: white;
}