$background-color--violet: #350656;
$background-color--violet-lite: #50137c;
$background-color--black: #333;
$background-color--black-transparent: rgba(0,0,0, 0.8);
$background-color--black-dark: #111;
$background-color--highlight: orange;
$background-color--highlight-low: rgb(231, 150, 0);
$text-color--common: white;
$text-color--highlight: orange;
$input-color--common: #ccc;
$text-color--error: red;
$text-color--light: rgb(247, 247, 247);
