extends ../base.pug

block game-content
    div(id="controlsLayer")
        canvas(id="canvasControls")
    div(id="firstLayer")
        canvas(id="canvas1")
    div(id="secondLayer")
        canvas(id="canvas2")
    
    div(id="dropdown-game-info-lose" class="dropdown__overlay")
        div(class="dropdown__overlay-content")
            p(class="dropdown__content-highlight")= resultLose
            for val in helpValues
                a(class="dropdown__content-highlight" href=val.href data-href=val.href)= val.label
    
    div(id="dropdown-game-info-win" class="dropdown__overlay")
        div(class="dropdown__overlay-content")
            p(class="dropdown__content-highlight")= resultWin
            for val in helpValues
                a(class="dropdown__content-highlight" href=val.href data-href=val.href)= val.label
    
